<div class="row" style="height:100%; margin: 0px !important;">
    <div class="col-lg-6 loginSide">
        <img src="/assets/Images/Swiggylogo.jpg" alt="SwiggyImage" id="swiggyLogo">
        <div class="row loginSignupButtons">
            <button mat-button id="loginButton" (click)='openLogindialog()'>Login</button>
            <button mat-button id="signupButton"(click)='openSignupdialog()'>SignUp</button>  
                    
        </div>
        <div class="row androidApplestores">
            <a mat-button href="https://play.google.com/store/apps/details?id=in.swiggy.android" target="_blank"
                id="andriodStore"><i class="fa fa-play iconPadding" aria-hidden="true"></i>Get It On <br> Google
                Play</a>
            <a mat-button href="https://apps.apple.com/in/app/swiggy-food-order-delivery/id989540920" id="appleStore"
                target="_blank"><i class="fa fa-apple iconPadding" aria-hidden="true"></i> Download
                on the <br> App Store</a>
        </div>
    </div>
    <div class="col-lg-6" >
        <div class="imageSide">
        </div>
    </div>
</div>