<mat-dialog-actions style="float: right;"><button mat-button mat-dialog-close>X</button></mat-dialog-actions>
<h2 mat-dialog-title>LOGIN</h2>

<mat-dialog-content>
    <div class="loginItems">
        <div style="display:flex">
            <div>
                
                <p><b>Don't have an account?</b> <a mat-button mat-dialog-close id="createAccBtn" (click)='openSignupdialog()'>Cretae an account</a></p>

            </div>
            <div >
                <img src="assets/Images/ghee-roast.jpg" width="30%" alt="Food" id="dosaImage">                
            </div>
        </div>  
        <div class="inputField">
            
        </div>
        <form [formGroup]= 'loginForm'>
            <div class="row ">
                
                <mat-form-field class="col-sm-4 loginEmailId">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" required  placeholder="Enter Email Address" formControlName='mailId'>
                    <mat-error *ngIf="loginDetails.mailId.errors?.required && loginDetails.mailId.touched " style="color: red;">This Field is Required</mat-error>
                    <mat-error *ngIf="loginDetails.mailId.errors?.email && loginDetails.mailId.touched" style="color: red;">Enter Valid Email Id</mat-error>
                </mat-form-field>
                
            </div>
            <div class="row">
                <mat-form-field class="col-sm-4 loginPassword">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" placeholder="Enter Password" formControlName = 'password' required>
                    <mat-error *ngIf="loginDetails.password.errors?.required && loginDetails.password.touched"style="color: red;">This Field is Required</mat-error>
                    <mat-error *ngIf="loginDetails.password.errors?.pattern && loginDetails.password.touched"style="color: red;">Enter Valid Password</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <button class="col-sm-4" type="submit"(click)='redirectTorestuarantPage()'  mat-raised-button id="loginButton">LOGIN</button>
            </div>
        </form>
    </div>
</mat-dialog-content>